<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Code</th>
    <th>Position</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents">
      <td (click)="onEdit(document)">{{document.name}}</td>
      <td (click)="onEdit(document)">{{document.code}}</td>
      <td (click)="onEdit(document)">{{document.position}}</td>
      <td (click)="onEdit(document)">{{document.mobile}}</td>
      <td><a class="btn text-danger" (click)="onDelete(document.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>